@charset "utf-8";
*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 0.6em;
    margin-bottom: 15px;
}
p{
    font-size: 0.3em;
}
ul{
    font-size: 0.3em;
}
div{
    box-sizing: border-box;
    padding: 20px;
}
section{
    position:relative;
    width:100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 800;
}
section:nth-child(even){
    background: #C849E4;
}
section:nth-child(odd){
    background: #7CECF1;
}
nav{
    position: fixed;
    top: 0;
    width:100%;
    text-align: center;
    background: #F350C9;
}
nav a{
    position:relative;
    color:aliceblue;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
}
nav a:hover,
section#n1:hover~nav a[href="#n1"],
section#n2:hover~nav a[href="#n2"],
section#n3:hover~nav a[href="#n3"],
section#n4:hover~nav a[href="#n4"],
section#n5:hover~nav a[href="#n5"]
{
    background: #7CECF1;
    color: #9918a5;
}
nav a:active{
    background: rgb(61, 61, 235);

}